{{> precheck}}
{{> joinclass}}
<div id="virtualclassApp" style="display: block;" class="try-to-connect">
 {{#if isPlay}}
    {{> recordingControl}}
  {{/if}}
  {{> leftBar}}
  {{> rightBar }}
  {{> popupCont}}
  {{> dashboardCont}}
</div>